<!DOCTYPE html>
<html>
<head>
  <title>Hotfix Engine</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono|Bangers' rel='stylesheet' type='text/css'>

  <!-- Font Awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

  <!-- *** Custom CSS -->
  <link rel="stylesheet" href="./stylesheets/stats-bars.css">
  <link rel="stylesheet" href="./stylesheets/stats-circles.css">
  <link rel="stylesheet" href="./stylesheets/styles.css">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script src="javascripts/vendor/es6-shim/es6-shim.min.js"></script>
  <script src="javascripts/vendor/zone.js/dist/zone.js"></script>
  <script src="javascripts/vendor/reflect-metadata/Reflect.js"></script>
  <script src="javascripts/vendor/systemjs/dist/system.src.js"></script>

  <script src="systemjs.config.js"></script>  
</head>
<body>
  <my-app>Loading...</my-app>

<script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDfeeNYOqFPQY5k7QKkuqxNjoEkmyVemTw",
    authDomain: "hotfix-f82fc.firebaseapp.com",
    databaseURL: "https://hotfix-f82fc.firebaseio.com",
    storageBucket: "hotfix-f82fc.appspot.com",
  };
  firebase.initializeApp(config);
</script>
    
<script>
  System.import('app').catch(function(err){console.error(err)});
</script>
</body>
</html>