<!DOCTYPE html>
<html>
<head>
  <title>Hotfix Game</title>
</head>
<body>

  <form action="LoggingIn" method="post">
    Username: <input type="text" name="username" placeholder="username"><br>
    Password: <input type="password" name="password" placeholder="password">
    <input type="submit" name="Submit"><br>
  </form>

<a href="./signup">Create Your Account!</a>

</body>
</html>