<!DOCTYPE html>
<html>
<head>
  <title>Hotfix Game</title>
</head>
<body>

  <form action="LoggingIn" method="post">
    Username: <input type="text" name="username"><br>
    <input type="submit" name="Submit"><br>
  </form>

</body>
</html>