<!DOCTYPE html>
<html>
<head>
  <title>Hotfix Game : Sign up</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono|Bangers' rel='stylesheet' type='text/css'>

  <!-- Font Awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

  <!-- *** Custom CSS -->
  <link rel="stylesheet" href="./game/stylesheets/styles.css">
  <link rel="stylesheet" href="./game/stylesheets/login.css">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>

  <div class="container contentBlock">
    <h2 class="header" id="signInHeader">Hotfix Game</h2>
    <div class="regBox">
      <div class="notRegBox">
        <h4>Not a player?</h4>
        <form name="joinForm" class="joinForm" method="post" action="">
          <div class="formContainer rightForm">
            <h3 class="subHead">Register to play</h3>
            <div class="userName">
              <input name="username" type="text" size="12" maxlength="70" class="logintextbox" placeholder="Enter a Username" />
            </div>
            <div class="userPassword">
              <input name="password" type="password" size="12" maxlength="70" class="logintextbox" placeholder="Enter a Password" />
            </div>
            <div class="footer">
              <div class="joinButton">
                <div class="actionLink right">
                  <input class="buttonForm" type="submit" value="Join Now">
                </div>
              </div>
            </div>
            <div class="clearDiv"></div>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>
</html>