body {
  font-family: 'Ubuntu Mono', monospace;
  color: #fff;
  margin: 2em;
  /* full bleed background */
  background: url(../images/background.jpg) #222 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fancy {
  font-family: 'Playfair Display', serif;
  font-weight: '400';
  font-style: normal;
  font-size: 34px;
}

.fancy.bolder {
  font-weight: '900';
}

/* /main */

.navbar {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
}

.navbar-right .navbar-icon {
  display: block;
  margin: 0;
  padding: 14px;
  transition: all .4s;
}

.navbar-right .navbar-icon i {
  color: #808080;
  font-size: 24px;
  margin: 0;
  min-width: 24px;
  max-width: 24px;
}

.navbar-header .navbar-brand:hover, .navbar-right .navbar-icon:hover i, .navbar-right .navbar-icon:hover span {
  color: #ffffff;
  transition: all .2s;
}

@media (min-width: 769px) {
  .navbar-right .navbar-icon i {
    display: all;
  }
  .navbar-right .navbar-icon span {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-right .navbar-icon i {
    display: none;
  }
  .navbar-right .navbar-icon span {
    display: all;
  }
}

/* /navbar */

.game-container, .game-controller-container {
  border: 1px solid white;
  background: transparent;
  width: 100%;
  display: block;
  position: relative;
}

.stat-container {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: 30px solid transparent;
/*  border: 1px solid white;*/
  display: inline-block;
  width: 350px;
  -webkit-box-shadow: 0px 0px 2px #ccc;
  -moz-box-shadow:    0px 0px 2px #ccc;
  box-shadow:         0px 0px 2px #ccc;
}

.champion-icon {
  display: block;
  background-color: transparent;
  border: none;
  padding: 5px;
  width: 65px;
}

.stat {
  margin-bottom: 15px;
}

.stat-label {
  display: inline-block;
  font-style: oblique;
  height: 12px;
  text-transform: uppercase;
}

.stat-bar {
}

.testing {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.sprites-container {
  clear: both;
  margin: 40px;
}

/* /game */

/* /game controller */