html, body{
  width: 100%;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: -50;
}

.cloud-intro{
  position: relative;
  min-height: 100%;
  width: 100%;
  z-index: 99;
  overflow:hidden;
  background-color: none;
  background: url(http://static.radulescu.me/examples/clouds/clouds1000.png);
  background: url(http://static.radulescu.me/examples/clouds/clouds1000.png) 0 200px,
              url(http://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
              url(http://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px 250px;
	animation: wind 20s linear infinite;
  z-index: 100;
}
@keyframes wind{
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }

}